.footer{
  background: $tertiary;
  padding: 21px 0;
}

.footer__container {
  @include container-fix;
  display: flex;
  justify-content: space-between;
  
  @media all and (max-width: 1200px) {
    flex-direction: column;
    align-items: center;
  }
}
.footer__logo {
  display: flex;
  gap: adaptiv-prop(9, 7);
  max-width: 230px;
  margin-right: 37px;

  @media all and (max-width: 1200px) {
    width: fit-content;
    margin-bottom: 9.12px;
    margin-right: 0;
  }
}

.footer__svg {
  min-width: adaptiv-prop(35.98, 28.97);
  height: adaptiv-prop(50, 40.58);

  @media all and (max-width: 1200px) {
    max-width: 28.97px;
  }
}

.footer__title {
  max-width: 487px;

  @media all and (max-width: 1200px) {
    display: flex;
    flex-direction: column;
    max-width: initial;
    width: initial;
  }
}

.footer__titlle-top {
  font-weight: 700;
  font-size:adaptiv-prop(26.4481 ,21.2901);
  line-height: 100%;

}

.footer__titlle-bottom {
  font-weight: 700;
  font-size: adaptiv-prop(25.2092, 20.2929);
  line-height: 100%;
  text-transform: uppercase;
}

.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media all and (max-width: 1200px) {
    text-align: center;
  }
}

.footer__text {

  @media all and (max-width: 1200px) {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

}

.footer__right {

  @media all and (max-width: 1200px) {
    margin-bottom: 8px;
  }
}

.footer__tel {
  font-weight: 700;
}