:root {
  --primary: #fff;
  --secondary: #000000;
  --tertiary: #333333;
  --tertiary--800:#828282;
  --brand-gradient:linear-gradient(132.12deg, #FF0000 6.78%, #C00397 80.22%);;

  --bg-form: rgba(0, 0, 0, 0.7);
}